.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    max-width: 1184px;
    max-height: 671px;
    margin-left: 48px;
    margin-right: 48px;
    padding-top: 92px;
    gap: 16px;
}

@media screen and (max-width: 1023px) {
    .photo-grid {
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(4,1fr);   
    }

}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);   
    }

}

@media screen and (max-width: 424px) {
    .photo-grid {
        grid-template-columns: 1fr;
        max-width: 288px;
        max-height: 2724px;
    }

}