.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
    border: 1px red solid;
    max-width: 984px;
}

@media screen and (max-width: 1023px) {
    .lead {
        padding-top: 48px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        padding-top: 48px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 424px) {
    .lead {
        padding-top: 48px;
        margin-left: 2px;
        margin-right: 2px;
    }
}