.footer__link {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    transition: opacity 0.3 4s ease-in-out;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width:767px) {
    .footer__link {
        font-size: 24px;
        line-height: 100%;
    }
}