.place__link {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    transition: opacity 0.3 4s ease-in-out;
}

.place__link:hover {
    opacity: 0.8;
}