.cover__background {
    text-decoration: none;
    max-width: 100vw;
    min-height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity 0.3 4s ease-in-out;
}

.cover__background::before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    position: absolute;
    opacity: 0.3;
}

.cover__background:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 62.5vw;
    }
}