.footer__link-indent {
    padding: 0;
    margin: 0;
    margin-right: 18px;
}

.footer__link-indent:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__link-indent {
        margin-bottom: 32px;
    }

    .footer__link-indent:last-child {
        margin-bottom: 0;
    }

}