.footer__links-list-item {
    padding: 0;
    margin: 0;
    margin-right: 18px;
}

.footer__links-list-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .footer__links-list-item {
        margin-bottom: 32px;
    }

    .footer__links-list-item:last-child {
        margin-bottom: 0;
    }
}